Repository WAVE-Lab-Williams/wave-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-isort, python-flake8, python-pylint, python-tests-small, javascript-lint, javascript-format-check, javascript-tests

python-black:
  name: black (Python)
  entry: uv run black
  language: system
  pass_filenames: true

python-isort:
  name: isort (Python)
  entry: uv run isort
  language: system
  pass_filenames: true

python-flake8:
  name: flake8 (Python)
  entry: uv run flake8
  language: system
  pass_filenames: true

python-pylint:
  name: pylint (Python)
  entry: uv run pylint
  language: system
  pass_filenames: true

python-tests-small:
  name: Python small tests
  entry: uv run pytest python/tests/small/ -x --tb=short
  language: system
  pass_filenames: false

javascript-lint:
  name: ESLint (JavaScript)
  entry: npm run lint
  language: system
  pass_filenames: false

javascript-format-check:
  name: Prettier check (JavaScript)
  entry: npm run format:check
  language: system
  pass_filenames: false

javascript-tests:
  name: JavaScript tests
  entry: npm test -- --passWithNoTests
  language: system
  pass_filenames: false

Update CI pipelines so boilerplate passes
  .eslintrc.json
  .github/workflows/javascript-ci.yml
  .github/workflows/python-ci.yml
  .prettierrc
  CLAUDE.md
Due: none

Update CI pipelines so boilerplate passes
  javascript/wave-client.js
  javascript/wave-client.test.js
Due: javascript-lint, javascript-format-check, javascript-tests

Update release methodology and plans
  CLAUDE.md
  README.md
  docs/examples.md
  docs/installation.md
Due: none

Clarify readme
  CLAUDE.md
  README.md
Due: none

update installation instructions for nvm
  CLAUDE.md
  docs/installation.md
Due: none

Simplify precommit checks
  .pre-commit-config.yaml
Due: none

Add JS client planning docs
  CLAUDE.md
  docs/api-endpoints.md
  docs/client-schemas.md
  docs/data-types.md
  docs/error-handling.md
  docs/method-naming.md
  docs/pandas-integration.md
  docs/phase2-summary.md
  javascript/wave-client.js
  javascript/wave-client.test.js
  package.json
Due: javascript-lint, javascript-format-check, javascript-tests

Create javascript client with unit tests
  .eslintrc.json
  CLAUDE.md
  Makefile
  docs/api-endpoints.md
  docs/client-schemas.md
  docs/error-handling.md
  javascript/examples/example.html
  javascript/src/core/errors.js
  javascript/src/wave-client.js
  javascript/test-config.js
  javascript/tests/constructor.test.js
  javascript/tests/error-handling.test.js
  javascript/tests/experiment-data.test.js
  javascript/tests/integration.test.js
  javascript/tests/jspsych-data.test.js
  javascript/tests/test-utils.js
  javascript/tests/url-authentication.test.js
  javascript/tests/utility-methods.test.js
  rollup.config.js
Due: javascript-lint, javascript-format-check, javascript-tests

Create javascript client with unit tests
  Makefile
  package.json
Due: none

Update linting and testing commands
  .eslintrc.json
  package.json
Due: none

Update dev docs and add basic dependencies to pyproject.toml
  CLAUDE.md
  docs/phase2-summary.md
  pyproject.toml
Due: none

Add python client interface
  CLAUDE.md
  python/tests/small/conftest.py
  python/tests/small/test_client.py
  python/tests/small/test_pandas_utils.py
  python/wave_client/__init__.py
  python/wave_client/client.py
  python/wave_client/exceptions.py
  python/wave_client/models/__init__.py
  python/wave_client/models/base.py
  python/wave_client/models/responses.py
  python/wave_client/models/search.py
  python/wave_client/resources/__init__.py
  python/wave_client/resources/base.py
  python/wave_client/resources/experiment_data.py
  python/wave_client/resources/experiment_types.py
  python/wave_client/resources/experiments.py
  python/wave_client/resources/search.py
  python/wave_client/resources/tags.py
  python/wave_client/utils/__init__.py
  python/wave_client/utils/http_client.py
  python/wave_client/utils/pandas_utils.py
  python/wave_client/utils/versioning.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small

Medium sized python client tests pass
  package-lock.json
  pyproject.toml
  python/tests/medium/__init__.py
  python/tests/medium/conftest.py
  python/tests/medium/test_integration.py
  python/wave_client/exceptions.py
  python/wave_client/utils/http_client.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small

JS Client integration test now skips gracefully with no localhost
  CLAUDE.md
  javascript/test-config.js
  javascript/tests/integration.test.js
  package.json
Due: javascript-lint, javascript-format-check, javascript-tests

Separate javascript tests into medium and small
  javascript/tests/medium/integration.test.js
  javascript/tests/medium/jest.config.js
  javascript/tests/medium/setup.js
  javascript/tests/small/constructor.test.js
  javascript/tests/small/error-handling.test.js
  javascript/tests/small/experiment-data.test.js
  javascript/tests/small/jest.config.js
  javascript/tests/small/jspsych-data.test.js
  javascript/tests/small/setup.js
  javascript/tests/small/url-authentication.test.js
  javascript/tests/small/utility-methods.test.js
  package.json
Due: javascript-lint, javascript-format-check, javascript-tests

documentation consolidation
  CLAUDE.md
  README.md
  docs/api-endpoints.md
  docs/api-reference.md
  docs/client-schemas.md
  docs/data-types.md
  docs/error-handling.md
  docs/examples.md
  docs/installation.md
  docs/method-naming.md
  docs/pandas-integration.md
Due: none

Add integration tests with backend repo
  .github/workflows/integration-tests.yml
  .github/workflows/javascript-ci.yml
  .github/workflows/python-ci.yml
Due: none

Try to debug integration test ci
  .github/workflows/integration-tests.yml
Due: none

Revert "Try to debug integration test ci"
  .github/workflows/integration-tests.yml
Due: none

Add Postgres wait step
  .github/workflows/integration-tests.yml
Due: none

Change postgres settings to use database url
  .github/workflows/integration-tests.yml
Due: none

Move javascript test-config into tests dir
  javascript/tests/medium/integration.test.js
  javascript/tests/small/error-handling.test.js
  javascript/tests/small/experiment-data.test.js
  javascript/tests/small/jspsych-data.test.js
  javascript/tests/small/utility-methods.test.js
  javascript/tests/test-config.js
Due: javascript-lint, javascript-format-check, javascript-tests

Example notebook operational
  CLAUDE.md
  Makefile
  pyproject.toml
Due: none

Update notebook with data cleanup operations
  python/examples/data_analysis_example.ipynb
Due: python-tests-small

Update python client to use kwargs
  CLAUDE.md
  docs/api-reference.md
  python/examples/data_analysis_example.ipynb
  python/tests/medium/test_integration.py
  python/wave_client/resources/experiment_data.py
  python/wave_client/resources/experiment_types.py
  python/wave_client/resources/experiments.py
  python/wave_client/resources/tags.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small

Simplify javascript wave client
  README.md
  docs/api-reference.md
  docs/examples.md
  docs/installation.md
  javascript/examples/example.html
  javascript/examples/simple-experiment.html
  javascript/src/wave-client.js
  javascript/tests/small/jspsych-data.test.js
  javascript/tests/test-config.js
Due: javascript-lint, javascript-format-check, javascript-tests

Update autogen docs
  Makefile
  docs/api-reference.md
  docs/javascript-api-reference.md
  docs/python-api-reference.md
  package-lock.json
  package.json
  tools/generate_python_docs.py
Due: none

Minor readme update
  CLAUDE.md
  README.md
  docs/examples.md
Due: none

Add release GHA
  .github/workflows/integration-tests.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  docs/installation.md
Due: none

Add releases documentation
  README.md
  docs/releases.md
Due: none

Avoid triple Release trigger and solve npm build issue
  .github/workflows/release.yml
Due: none

Bump lewagon/wait-on-check-action to v1.4.0
  .github/workflows/release.yml
Due: none

Simplify GHA release workflow
  .github/workflows/release.yml
  docs/releases.md
Due: none

Update release workflow verbosity
  .github/workflows/release.yml
Due: none

Update JS Client usage docs
  README.md
  docs/examples.md
  javascript/examples/simple-experiment.html
Due: javascript-tests

Troubleshoot JS CDN release issues and add example usage
  .github/workflows/release.yml
  docs/examples.md
  docs/releases.md
  javascript/examples/simple-experiment.html
  python/examples/python_javascript_integration_example.ipynb
Due: python-tests-small, javascript-tests

Move releases into a separate branch
  .github/workflows/release.yml
Due: none

Update releases docs
  docs/releases.md
Due: none

Fix issue where releases were not triggered after new tag added
  .github/workflows/release.yml
Due: none

chore: built files for release v1.0.0
  javascript/dist/wave-client.esm.js
  javascript/dist/wave-client.esm.js.map
  javascript/dist/wave-client.min.js
  javascript/dist/wave-client.min.js.map
  javascript/dist/wave-client.umd.js
  javascript/dist/wave-client.umd.js.map
Due: javascript-lint, javascript-format-check, javascript-tests

Path conditions:
  python-black: any of: ^python/.*\.py$
  python-isort: any of: ^python/.*\.py$
  python-flake8: any of: ^python/.*\.py$
  python-pylint: any of: ^python/.*\.py$
  python-tests-small: any of: ^python/
  javascript-lint: any of: ^javascript/.*\.(js|jsx)$
  javascript-format-check: any of: ^javascript/.*\.(js|jsx|json|md)$
  javascript-tests: any of: ^javascript/
