Repository WAVE-Lab-Williams/wave-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-black, python-isort, python-flake8, python-pylint, python-tests-small, javascript-lint, javascript-format-check, javascript-tests

python-black:
  name: black (Python)
  entry: uv run black
  language: system
  pass_filenames: true

python-isort:
  name: isort (Python)
  entry: uv run isort
  language: system
  pass_filenames: true

python-flake8:
  name: flake8 (Python)
  entry: uv run flake8
  language: system
  pass_filenames: true

python-pylint:
  name: pylint (Python)
  entry: uv run pylint
  language: system
  pass_filenames: true

python-tests-small:
  name: Python small tests
  entry: uv run pytest python/tests/small/ -x --tb=short
  language: system
  pass_filenames: false

javascript-lint:
  name: ESLint (JavaScript)
  entry: npm run lint
  language: system
  pass_filenames: false

javascript-format-check:
  name: Prettier check (JavaScript)
  entry: npm run format:check
  language: system
  pass_filenames: false

javascript-tests:
  name: JavaScript tests
  entry: npm test -- --passWithNoTests
  language: system
  pass_filenames: false

Update JS client usage example and documentation
  README.md
  docs/api-reference.md
  docs/examples.md
  docs/installation.md
  docs/javascript-api-reference.md
  javascript/examples/simple-experiment.html
  javascript/src/wave-client.js
  python/examples/python_javascript_integration_example.ipynb
Due: python-tests-small, javascript-lint, javascript-format-check, javascript-tests

Update links in README to other docs
  README.md
Due: none

Add README badges
  README.md
Due: none

Remove auto load dot_env for wave client that causes slow inits
  python/tests/medium/conftest.py
  python/tests/small/conftest.py
  python/tests/small/test_client.py
  python/wave_client/client.py
  python/wave_client/utils/http_client.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small

Disable uv cache pruning in CI
  .github/workflows/integration-tests.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
Due: none

Bump wave client release version to 1.1.0
  docs/releases.md
  package-lock.json
  package.json
  pyproject.toml
Due: none

[Bugfix] Remove auto load dot_env for wave client that causes slow inits (#6)
  .github/workflows/integration-tests.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  docs/releases.md
  package-lock.json
  package.json
  pyproject.toml
  python/tests/medium/conftest.py
  python/tests/small/conftest.py
  python/tests/small/test_client.py
  python/wave_client/client.py
  python/wave_client/utils/http_client.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small

ci: fix Rollup build failure by removing npm cache
  .github/workflows/release.yml
Due: none

ci: fix Rollup build failure by removing npm cache (#7)
  .github/workflows/release.yml
Due: none

chore: built files for release v1.1.0
  javascript/dist/wave-client.esm.js
  javascript/dist/wave-client.esm.js.map
  javascript/dist/wave-client.min.js
  javascript/dist/wave-client.min.js.map
  javascript/dist/wave-client.umd.js
  javascript/dist/wave-client.umd.js.map
Due: javascript-lint, javascript-format-check, javascript-tests

Add experiment config support; release 1.2.0
  javascript/src/wave-client.js
  javascript/tests/small/constructor.test.js
  javascript/tests/small/experiment-config.test.js
  package.json
  pyproject.toml
  python/wave_client/models/base.py
  python/wave_client/resources/experiments.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small, javascript-lint, javascript-format-check, javascript-tests

Add unit tests for experiments config methods
  python/tests/small/test_experiments.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small

Add experiment config support to the client library (`v1.2.0`) (#8)
  javascript/src/wave-client.js
  javascript/tests/small/constructor.test.js
  javascript/tests/small/experiment-config.test.js
  package.json
  pyproject.toml
  python/tests/small/test_experiments.py
  python/wave_client/models/base.py
  python/wave_client/resources/experiments.py
Due: python-black, python-isort, python-flake8, python-pylint, python-tests-small, javascript-lint, javascript-format-check, javascript-tests

chore: built files for release v1.2.0
  javascript/dist/wave-client.esm.js
  javascript/dist/wave-client.esm.js.map
  javascript/dist/wave-client.min.js
  javascript/dist/wave-client.min.js.map
  javascript/dist/wave-client.umd.js
  javascript/dist/wave-client.umd.js.map
Due: javascript-lint, javascript-format-check, javascript-tests

Path conditions:
  python-black: any of: ^python/.*\.py$
  python-isort: any of: ^python/.*\.py$
  python-flake8: any of: ^python/.*\.py$
  python-pylint: any of: ^python/.*\.py$
  python-tests-small: any of: ^python/
  javascript-lint: any of: ^javascript/.*\.(js|jsx)$
  javascript-format-check: any of: ^javascript/.*\.(js|jsx|json|md)$
  javascript-tests: any of: ^javascript/
